body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 20px;
}

.banner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.banner-home {
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://upload.wikimedia.org/wikipedia/commons/5/5a/Chapada_dos_Veadeiros.jpg');
}

.banner-goias {
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://upload.wikimedia.org/wikipedia/commons/5/5a/Chapada_dos_Veadeiros.jpg');
}

.banner-goiania {
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://upload.wikimedia.org/wikipedia/commons/f/f0/Praca_Civica_Goiania.jpg');
}

.banner-canedo {
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://upload.wikimedia.org/wikipedia/commons/3/3d/Ferrovia_Brasil.jpg');
}

.banner-texto {
  color: white;
  text-align: center;
  padding: 20px;
}

.banner a, .botao-card {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ffcc00;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

nav {
  background-color: #1b5e20;
  text-align: center;
  padding: 12px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.conteudo {
  padding: 25px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 280px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
